$primaryTekstColor: #222222;
$footerTekstColor: #9d9d9d;
$menuTekstColor: azure;
$primaryTekstSize: 20px;
$sizeColorUnderlineAndBorder:3px;


$colorRed: #d63c37;
$textGray: #666666;
$textBlack: #333333;
$textWhite: #fcfcfc;
$bgGray: #f6f6f6;

h1{
  font-size: 36px;
}
h2 {
  font-size: 24px;
}
p {
  font-size: 16px;
  line-height: 200%;
}

@import "animation";
@import "socialicons";
@import "hamburger";

body, html {
  height: 100%;
  font-family: 'Nunito', serif;
  color: $primaryTekstColor;
  font-size: $primaryTekstSize;
}


a:focus{
  outline: none;
}
.red{
  color: $colorRed;
}
.white{
  color:$textWhite;
}
.underline{
  text-decoration: underline;
}

.section{
  background-color: transparent;
  position: relative;
  z-index: 10;

}

.section--header{
  width:100%;
  height: 100%;
  padding-top:0;
  padding-bottom: 0;
  margin-top:0px;
  margin-bottom: 0px;
  position:relative;
  z-index: 20;
  span{
    font-family: Megrim;
  }
    

}
.section--header__bg{
  background-image: url(../img/bg1.jpg);
  background-repeat: no-repeat;
  background-position: 50% -60px;
  background-size: cover;
  z-index: 10;
  width:100%;
  height:100%;
  margin-bottom: -60px;

}
.section--header__text{
  text-align: center;
}
.section--header__menu{
  position: fixed;
  right: 5px;
  top: 20px;
  z-index: 1999;
  font-family: Megrim;
  a{
    width:100%;
    height: 65px;
    width: 65px;
    line-height: 22px;
    display: block;
    text-align: center;
    border-radius: 100%;
    border: 2px solid rgba(102, 102, 102, 0.2);
    transition: all 1s;
    color: $textGray;
    padding:30% 10%;
    font-size:13px;
    font-weight: 600;
    transform: scale(0.8);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px 0px #fff;

    &:hover{
      text-decoration: none;
      transform: scale(1);
      color:$colorRed;
      background-color: rgba(255, 255, 255, 0.7);
      border: 1px solid transparent;
      box-shadow: 0 0 10px 0px #fff;
    }
  }

}
.section__a {
  min-height:100%;
  background-color: $bgGray;
  i {
    position: absolute;
    margin-left: -35px;
    margin-top: 5px;
  }

  
}
.section__b {
  min-height:100%;
  background-color: $colorRed;
  text-align: right;
  i {
    position: absolute;
    transform: translateX(10px) translateY(-7px);
    z-index: 50;
    color:$textWhite;
    background-color: $colorRed;
    border: 2px solid $textWhite;
    width:46px;
    height: 46px;
    line-height: 42px;
    border-radius: 46px;
    text-align: center;

  }

  i:hover {
    background-color: $textWhite;
    color: $colorRed;
  }
  p {
    padding-right: 35px;
  }
  .section--item__text{
    padding-left: 20px;
    padding-right: 40px;
  }
}
.section--item{
  display:flex;
  flex-grow:1;
  flex-shrink:1;
//  justify-content: center;
  padding-left: 20px;
  flex:1;
  align-items: center;
  padding-bottom: 30px;
  img {
    max-width: 100%;
    height: auto;

  }
}
.section--item__text{
  justify-content: center;
  display: block;
//  padding-top: 50px;
//  padding-bottom: 50px;

  p.red{
    padding-top: 50px;
  }
}
.section--item__text__padd-left{
  p {
    padding-left: 50px;
  }
}
.section--item__text__padd-right{
  p {
    padding-right: 50px;
  }
}
.section--item__img{
  align-self: flex-end;
  padding-bottom: 0px;
  
}


.flex{
  display: inline-block;
  justify-content: space-around;
}

.item{
  display:flex;
  flex-grow:1;
  flex-shrink:1;
  justify-content: center;
  flex:1;
  align-items: center;
  padding-bottom: 50px;
}


.item--border p{
  padding: 60px;
  border: $sizeColorUnderlineAndBorder solid #88e3e7;
  border-radius: 30px;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  background-color: #88e3e7;
  box-shadow: 0px 0px 8px 0px #cccccc;
}
.item--footer {
  display:block;
  flex:1;
  font-size: 15px;
  color: $footerTekstColor;
  padding-bottom: 30px;

  b {
    color:$primaryTekstColor;
  }

}
.item--footer__media{
  text-align: left;
}
.item--footer__menu{
  text-align: left;

  a {
    padding: 1px;
    display:block;
    color:$footerTekstColor;
    text-decoration: none;
  }
  a:hover{
    text-decoration: none;
    color:$primaryTekstColor;
  }
}
.item--footer__copyright{
  font-size: 8px;
  font-weight: 500;
  p {
    font-size: 12px;
    margin-bottom: 0px;
      text-align: left;
  }
  padding-bottom: 10px;
}
.icon{
  position:relative;
  width: 100%;
  padding-bottom: 50px;
  p{
    position: absolute;
    top: 50%;
    left: 33%;
    font-weight: bold;
    font-size: 30px;
    display:inline;
  }
  img{
    transition: all 0.5s;
    transition-timing-function: ease-out;
  }
  &:hover{
    transform: scale(0.95);
  }
    transition: all 1.5s;
    transition-timing-function: ease-out;
}



/* MENU */
.section--header__nav{

  top: 0;
  margin: 0;
  background-color: #ffffff;
  width: 100%;
  height: 70px;
  z-index: 999;
  position: relative;
  overflow: hidden;
  box-shadow: 0px -7px 14px #000;
} 
.navbar{
  margin-top:0px;
  background-color: #ffffff;
  a:hover{
    font-weight: 600;
    color:$menuTekstColor
  }
}

#navigation {
  margin-top: 10px;
  padding-top: 10px;
  a {
    color: #333333;
    position:relative;
    display: block;
    padding-left: 1%;
    padding-bottom: 10px;
  }
  a:hover, a:focus {
    text-decoration: none;
    color:$colorRed;

  }

}
.navbar-collapse::before{
  content: "";
  position:absolute;
  width: 90%;
  height: 1px;
  background-color: $colorRed;
  transform:translateY(-10px);
}

.navbar-brand {
  color: $textBlack;
  text-shadow: 0;

  a:hover{
    color:$colorRed;
  }

}

.navbar-header {
  a:hover, a:focus {
    text-decoration: none;
    color:$colorRed;
  }
}


.navbar-collapse {
  border:none;
  box-shadow: none;
  text-align: center;
}


// IMPORT MEDIA
@import "media";
